{% extends 'attendance/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About AttendNow</h1>
<p>AttendNow is an innovative attendance tracking system that leverages facial recognition technology to ensure accurate and efficient attendance management.</p>
<h2>How It Works</h2>
<p>Our facial recognition system uses advanced algorithms to identify and verify individuals.</p>
<h2>The Team</h2>
<ul>
    <li>Gavin Middleton</li>
    <li>Muhamed El Majzoub</li>
    <li>Jad Aoun</li>
</ul>
{% endblock %}
