{% extends 'attendance/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<h1>Sign Up</h1>
<form method="post">
    {% csrf_token %}
    <div class="grid-container">
        <!-- Input fields for sign up form -->
        <input type="text" name="first_name" placeholder="First Name" required>
        <input type="text" name="last_name" placeholder="Last Name" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn">Create Account</button>
</form>
<div class="or">OR</div>
<!-- Button to sign in with Google -->
<a href="#" class="btn btn-google">Sign in with Google</a>
{% endblock %}
