{% extends 'attendance/base.html' %}

{% load static %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div style="background-color: white; padding: 50px; display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="background-color: white; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 100%; max-width: 400px;">
        <h2 style="color: #001A2F; margin-bottom: 20px;">Forgot Password</h2>
        <form method="post" action="{% url 'forgot_password' %}">
            {% csrf_token %}
            <div style="margin-bottom: 10px;">
                <label for="email" style="display: block; color: #666; margin-bottom: 5px;">Email:</label>
                <input type="email" id="email" name="email" required style="width: 100%; padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
            </div>
            <button type="submit" style="width: 100%; padding: 10px; border-radius: 5px; background-color: #001A2F; color: white; border: none; cursor: pointer;">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
